@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
body{
    width: 100vw;
    height: auto;
    padding: 0px 3px 0px 3px;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
}
section{
    width: 100vw;
    height: 100%;
    display: flex;
}
#menubar{
    width: 50px;
    height: 1140px;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:#006AB3;
}

#menubar img,i{
    width: 30px;
    margin: 10px auto;
    font-size: 22px;
    text-align: center;
    color: white;
}

.main_right_wrapper{
    width:100%;
}
.sub_block1{
    width: 97%;
    margin-left: 8px;
    margin-right: 32px;
    padding: 13px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 3px;
    border: 1px solid rgb(203, 203, 203);
    color: white;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 140px;
}
.announcebox{
    width:140px;
    height: 105px;
    margin-left: -40px;
}
.sub_block1 input{
    width: 150px;
    padding: 3px 40px;
    border-radius: 5px;
    border: none;
}
.sub_block1 p i{
    font-size: 14px;
}
.subblock1_h2{
    font-size: 18px;
    font-style: normal;
    position: absolute;
}
.subblock1_h4{
    font-size: 14px;
    font-style: normal;
    position: absolute;
    margin-top: 37px;
    
}
.sub_block1 p img{
    width: 40px;
    /* margin-bottom: -9px; */
    position: absolute;
    margin-top: 76px;
    margin-left: 177px;
}
#sub_block1_trans_div{
    background-color: rgba(220, 216, 216, 0.318);
    padding: 2px 4px;
    border-radius: 5px;
    position: absolute;
    margin-top: 80px;
}

.avtar {
    width:60px;
    height: 60px;
    position: absolute;
    right:44px;
    margin-top: 4px;
}

.txtname{
    font-size: 20px;
    font-style: normal;
    position: absolute;
    right: 50px;
    color: white;
    margin-top: 66px;
}

.txtdesg{
    font-size: 14px;
    font-style: normal;
    position: absolute;
    right: 50px;
    color: white;
    margin-top: 90px;
}
.txtinout{
    font-size:14px;
    font-style: normal;
    position: absolute;
    margin-top: 82px;
    margin-left: 220px;
}
.sub_block1_search_box{
    position: relative;
}
.sub_block1_search_box i{
    font-size: 18px;
    color: gray;
    position: absolute;
    top: -8px;
    left: 2px;
}
#sub_block1_logo{
    width: 120px;
    height: 40px;
    position: absolute;
    right: 53px;
    top: 0px;
}
#about_wrapper{
    width: 260px;
    background-color: #006AB3;
    color: white;
    padding: 50px;
    margin-left:6px;
}
#about_txt_head{
    margin-top: 100px;
    font-size: 18px;
    color: white;
}
.about_txt{
    width: 130px;
    margin: 0px 0px;
    text-decoration: underline;
    font-size: 12px;
    color: rgb(223, 226, 228);
    cursor: pointer;
}
.sub_block2{
    margin: 10px 8px;
    border-radius: 3px;
    border: 1px solid rgb(203, 203, 203);
}
.sub_block2{
    /* width: 98%; */
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 10px;
    background-color: rgb(113, 203, 219);
}
.remove{
    display: none;
}
.sub_block2 h1{
    margin-top: 80px;
    font-size: 32px;
}
.sub_block3{
    /* width: 98%; */
    border: 1px solid rgb(198, 194, 194);
    margin: 5px 5px 0px 8px;
}
.sub_block3_header{
    width: 98%;
    padding: 10px;
    color: white;
    background-color: #006AB3;
}
.sub_block3_lower_sec{
    /* width: 69vw; */
    padding: 20px;
    display: flex;
}
.sub_block3_lower_sec img{
    width:400px
}
.sub_block3_lower_sec p{
    width: 400px;
    margin: auto;
    font-size: 18px;
}
#sub_block3inner_block{
    display: flex;
    justify-content: space-evenly;
}
.sub_block3inner{
    /* width: 73vw; */
    margin: 10px 25px;
}
.sub_block3inner_div img{
    width: 427px;
    height: 250px;
    object-fit: contain;
}
.sub_block3inner_div p{
    width: 320px;
    height: 400px;
    font-size: 18px;
    overflow-y: auto;
}